<div class=" container">
  <ng-progress></ng-progress>
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="mt-5">
        <div class="card card-cascade narrower m-3 z-depth-4">
          <div class="view overlay hm-white-slight waves-dark bg-red" mdbWavesEffect>
            <img src="https://avatars1.githubusercontent.com/u/41841383?s=460&v=4" class="img-fluid" alt="Ashu avatar">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">
              <strong>Ashutosh Kumar</strong>
            </h4>
            <h5>Web developer</h5>
            <p class="card-text">I am a Front-End Developer looking for a great place to work.I am keen to learn more about web and the technologies required
              to work with it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>